$green: #182900;
$orange: #e68631;
$white: #ffffff;
$yellow: #EDAA2F;
$poppins: 'Poppins', sans-serif;
$p100: 100%;
$px100: 100px;
$actionGreen: #4C6F35;


body{
    overflow-x: hidden;
}





// navigation bar starts here


.desktop-nav{
    background: $white;
    width: $p100;
    height: $px100 - 30px;
    position: fixed;
    z-index: 2000;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

    a{
    margin-right: 30px;
    float: right;
    }
}
.mynav{
    margin-top: $px100 - 80px;
    margin-right: $px100;
    float: right;
    font-family: $poppins;

    a{
        font-size: $px100 - 86px;
        color: $green;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;

        &:hover{
            font-weight: 600;
            color: $orange;
        }

        
        #noteNum {
            display: none;
            background: $orange;
            color: $white;
            position: absolute;
            margin: -25px 0 0 15px;
            width: 12px;
            text-align: center;
            border-radius: 100px;
        }
    }
        
    .admin-image{
        width: 25px;
    }
    
    .admin-note{
        width:23px;
    
    }
}

.mobile-nav{
    display: none;
}
.mobile-nav-icons{
    display: none;
}

.inputarea{
    border-radius: 0px;
    height: 40px;
    width: 68%;
    margin-left: 40px;
}

// Navigation bar ends here

.mobileView-adminInfo{
    display: none;
}


// Sidenav starts here


.sidenav {
    font-family: $poppins;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #F7F7F7;
    box-shadow: 0px 5px 10px rgba(32, 32, 32, 0.1);
    overflow-x: hidden;
    padding-top: 150px;
    padding-left: 100px;

    
    a {
        padding: 6px 8px 6px 0px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        margin-left: 0px;
        color: $green;

        :hover {
            color: #000;
        }
        
    }
    
    .logout{
        margin-top: 60px;
    }

    .admin-info{
        color: $green;
        background: #EDAA2F;
        margin-bottom: 50px;


        .profile-image{
            width: 60px;
        }

        b{
            color: $orange;
        }
    }

    #dashboardSettings{
        border-left: 2px solid #444;
        padding-left: 5px;
    }

}

// Sidenav ends here

// Back button starts here




.backbtn {
    position: absolute;
    top: 0;
    left: -55px;
    top: 40px;
    font-size: 36px;
    color: #818181;
    margin: 40px 0 0 -80px;

    :hover{            
    text-decoration: none;
    color: #000;
    }
}


// Back button ends here

//////////////////////////////////////////////////////////////////////////////////////////////


// Add New Item starts here

// DashBoard starts here

h3{
    margin-top: 100px;
    color: $orange;
}

#dashboardContainer{
    height: auto;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(32, 32, 32, 0.1);
    border-radius: 2px;
    margin-top: 60px;
    padding-top: 3px;
    text-align: center;
    padding-bottom: 30px;
    padding-right: 20px;


    select{
        background: #FFFFFF;
        box-shadow: inset 0px 5px 10px rgba(32, 32, 32, 0.2);
        height: 42px;
    }
    input{
        background: #FFFFFF;
        box-shadow: inset 0px 5px 10px rgba(32, 32, 32, 0.2);
        height: 42px;
    }

    textarea{
        background: #FFFFFF;
        box-shadow: inset 0px 5px 10px rgba(32, 32, 32, 0.2);
    }

    #price{
        font-size: 12px;
    }

    button{
        background: $actionGreen;
        border: none;
        float: left;
        margin-left: 15px;
        width: 100px;
    }
}
// DashBoard ends here


// Add New Item ends here



//////////////////////////////////////////////////////////////////////////////////



@media only screen and (max-width:425px){
    .desktop-nav{
        display: none;
    }

    .sidenav{
        display: none;
    }
    .mobile-nav-icons{
        display: block;
        position: relative;

        img{
            width: 20px;
            height: auto;
            float: right;
            margin-top: -45px;
        }

        
        .basket{
            margin-right: 63px;
        }
    }
        .cont {
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change {
    
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }
    
        .bar2 {
            opacity: 0;
        }
    
        .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
    
    }
    
    
    header{
        width: 100%;
        margin: 0px auto;
        position: fixed;
        padding-top: 10px;
        background: $white;
        z-index: 2001;
    }
   
    .mobile-navbutton{
        float: right;
        margin-top: 0px;
    }
    .logo{
        width: 100px;
        margin-top: -20px;
    }
    
    
    .mobile-nav{

        ul{
            margin-top: 20px;
            ul{
                margin-top: 20px;;
            }
        }

    }

    h1 {
        margin-top: 80px;
    }

    .mobileView-adminInfo{
        display: block;
    }

    #dashboardContainer{
    background: #fff;
    width: 100%;

    .dash-summary{
        height: 130px;
    }

    }

    footer{
    
        p{
            margin-top: 200px;
            font-size: 10px;
            color: $orange;
            font-weight: 600;
        }
    
        .footer-order{
            color: $green;
            margin-top: -10px;
            margin-left: 0px;
        }
    } 
    

    
}




@media only screen and (max-width:375px){
    .mobile-nav-icons{
        display: block;
        position: relative;

        img{
            width: 18px;
        }
    }
    #savedCardContainer{

        table{
            font-size: 11px;
        }
        .cardDelete{
            margin-left: 65px;
        }
    }
   
 }
 
 

@media only screen and (max-width:320px){
   
    #savedCardContainer{

        .cardDelete{
            margin-left: 29px;
        }
    }
}

           