body {
  overflow-x: hidden;
  font-style: "Poppins", sans-serif; }

.desktop-nav {
  background: #ffffff;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 2000;
  box-shadow: 0px 5px 10px rgba(32, 32, 32, 0.1); }
  .desktop-nav a {
    margin-right: 30px;
    float: right; }

.mynav {
  margin-top: 20px;
  margin-right: 100px;
  float: right;
  font-family: "Poppins", sans-serif; }
  .mynav a {
    font-size: 14px;
    color: #182900;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none; }
    .mynav a button {
      width: 120px;
      height: auto;
      font-weight: bold;
      font-size: 14px;
      border-radius: 3px;
      color: #182900;
      border: 1px solid #e68631;
      font-weight: 400;
      margin-top: -5px;
      background: none; }
    .mynav a button:hover {
      background: #d3b091; }
  .mynav a:hover {
    color: #e68631;
    font-weight: 400; }

.navbar-logo {
  width: 200px;
  margin-left: 80px;
  position: absolute;
  margin-top: -20px; }

.mobile-nav {
  display: none; }

.verifyPassword {
  width: 60%;
  margin: 0 auto;
  height: 350px;
  border-radius: 3px;
  margin-top: 20px;
  padding: 30px; }
  .verifyPassword h4 {
    text-align: center;
    margin: 100px 0 0 0;
    font-weight: bolder; }
  .verifyPassword form {
    border: 1px solid #ccc;
    width: 85%;
    margin: 50px auto;
    padding: 30px 20px;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(32, 32, 32, 0.1); }
    .verifyPassword form .hiUser {
      font-size: 600; }
    .verifyPassword form input {
      height: 50px;
      border: none;
      box-shadow: 0px 5px 10px rgba(32, 32, 32, 0.1); }
    .verifyPassword form button {
      width: 100%;
      height: 50px;
      background: #497f03;
      color: #ffffff;
      box-shadow: 0px 5px 10px rgba(32, 32, 32, 0.1); }
      .verifyPassword form button:hover {
        color: #ffffff;
        background: #4C6F35; }
    .verifyPassword form .backToSignIn {
      text-align: center; }
      .verifyPassword form .backToSignIn a {
        margin: 0 auto;
        color: #202020;
        font-weight: bold; }

.modal {
  margin-top: 70px; }

.modal-content {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(photos/food.png);
  background-repeat: no repeat;
  background-size: 600px 580px;
  background-size: cover;
  font-size: 13px;
  color: #ffffff; }

#mySignupModal .col-sm-2 {
  width: 30%; }
#mySignupModal label {
  font-weight: 200;
  margin-right: -20px;
  margin-top: 5px; }
#mySignupModal .inputarea {
  border-radius: 3px;
  height: 30px;
  width: 110%;
  margin-left: 0px; }
#mySignupModal .form-button {
  background: #4C6F35;
  color: #ffffff;
  height: 30px;
  width: 35%;
  margin-left: 44px;
  border-radius: 3px;
  font-size: 13px;
  padding-bottom: 9px; }
#mySignupModal .form-horizontal {
  margin-left: 120px; }

#myLoginModal {
  height: 500px;
  font-family: "Poppins", sans-serif; }
  #myLoginModal label {
    font-weight: 200;
    margin-right: -20px;
    margin-top: 5px; }
  #myLoginModal .social {
    width: 100%;
    margin-top: 20px; }
    #myLoginModal .social img {
      width: 6%;
      border-radius: 24px;
      box-shadow: 1px 1px 1px 1px rgba(31, 30, 30, 0.3); }
      #myLoginModal .social img:hover {
        width: 6.2%; }
    #myLoginModal .social .twitter-icon {
      position: absolute;
      margin-left: 160px;
      margin-top: -35px; }
    #myLoginModal .social .google-icon {
      margin-left: 100px; }
  #myLoginModal .inputarea {
    border-radius: 3px;
    height: 40px;
    width: 110%;
    margin-left: 40px;
    box-shadow: 2px 2px 2px 2px rgba(31, 30, 30, 0.3); }
  #myLoginModal .form-button {
    background: #4C6F35;
    color: #ffffff;
    height: 50px;
    width: 62%;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(31, 30, 30, 0.3); }
  #myLoginModal .form-horizontal {
    margin-left: 100px; }
  #myLoginModal .login-options {
    margin-left: 100px;
    margin-top: -20px; }
    #myLoginModal .login-options h3 {
      color: #e68631;
      font-weight: 600; }
    #myLoginModal .login-options p {
      margin-top: 20px;
      font-size: 14px; }
  #myLoginModal .forgotPassword {
    margin-left: 119px;
    text-decoration: none;
    color: #e68631;
    font-weight: 600;
    margin-top: -20px; }
  #myLoginModal .have-account {
    font-size: 11px;
    margin: 100px 0 0 119px; }
  #myLoginModal .signup {
    font-size: 11.7px;
    margin: 100px 0 0 40px;
    color: #105a96;
    font-weight: 600; }

@media only screen and (max-width: 768px) {
  .mynav {
    margin-top: 20px;
    margin-right: 70px; }
    .mynav a {
      font-size: 12px;
      cursor: pointer;
      text-decoration: none; }
      .mynav a button {
        width: 120px;
        font-weight: bold;
        font-weight: 400;
        margin-top: -5px; }
      .mynav a:hover {
        font-weight: 400; } }
@media only screen and (max-width: 425px) {
  .desktop-nav {
    display: none; }

  .cont {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px; }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s; }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  .change .bar2 {
    opacity: 0; }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

  header {
    width: 100%;
    margin: 0px auto;
    position: fixed;
    padding-top: 10px;
    background: #ffffff;
    z-index: 2001; }

  .mobile-navbutton {
    float: right;
    margin-top: -50px; }

  .logo {
    width: 100px;
    margin-top: -20px; }

  .verifyPassword {
    width: 100%; }
    .verifyPassword form {
      width: 100%; } }

/*# sourceMappingURL=verify-reset-password.css.map */
